

.post-content-area {
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
background: #0b0b0b;
}

.post-header {
  margin-bottom: 28px;
  padding-bottom: 20px;
  border-bottom: 1px solid #31994b;;
}

.post-title {
  font-size: 26px;
  color: #50c96e;
  text-shadow: 0 0 10px rgba(82, 232, 106, 0.35), 0 0 16px rgba(49, 209, 71, 0.12);
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.3;
}

.post-date {
  font-size: 14px;
  color: #50c96e;
}

.post-body {
  font-size: 15px;
  line-height: 1.7;
  font-family: monospace;
    color: #cbcaca;
}

.post-body p {
  margin-bottom: 5px;
    color: #cbcaca;
}

.post-body ul {
  margin-bottom: 16px;
  padding-left: 24px;
}

.post-body li {
  margin-bottom: 6px;
}

.post-body code {
  background: rgba(42, 122, 56, 0.2);
  color: #50c96e;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 13px;
  font-family: monospace;
}



.post-section {
  font-size: 16px;
  color: #50c96e;
  font-weight: 600;
  margin: 28px 0 12px 0;
}


.post-code {
  padding: 16px 20px;
  margin: 16px 0;
  color: #50c96e;
  white-space: pre-wrap;

  line-height: 1.5;
  border-radius: 8px;
  box-shadow: inset 0 0 20px rgba(42, 122, 56, 0.12);
  background: rgba(30, 100, 40, 0.3);
    font-size: 13px;
  font-family: monospace;
  
}


.post-image-wrap {
  padding: 12px;
  width: 500px;
  max-width: 100%;
  border-radius: 8px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1px solid #13311b;
  box-shadow: 0 0 12px rgba(42, 122, 56, 0.3),
              inset 0 0 24px rgba(70, 171, 84, 0.04);
}

.post-image-wrap img {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  padding: 6px;
}


.post-image-caption {
  font-size: 12px;
  color: #50c96e;
  text-align: center;
  padding: 10px 5px 0 5px;
}
