

.content {
  padding: 40px;
}

pre {
  border: 1px solid #1a1a1a;
  padding: 30px;
  background: #101010;
  margin: 30px 130px 20px 60px;
  white-space: pre-wrap;
  line-height: 1.6;
  text-align: justify;
    color: #cbcaca;
    font-family: monospace;

}

.whoami-container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
}

.whoami-photo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 2px solid #31994b;
}